In [8]:
import pandas as pd

In [9]:
data_frame = pd.read_csv('retail supermarket.csv')

### 1- Find record if Sales greater than 500 and Quantity greater than 5?

In [10]:
data_frame = pd.read_csv('retail supermarket.csv')

high_sales_quantity = data_frame[(data_frame['Sales'] > 500) & (data_frame['Quantity'] > 5)].copy()

final_data = high_sales_quantity.sort_values(by='Profit', ascending=False)

output_csv_name = 'high_sales_high_quantity_records_sorted_by_profit.csv'

final_data.to_csv(output_csv_name, index=False )

print(f"Number of records found: {len(final_data)}")

print("Records with Sales > 500 and Quantity > 5, sorted by highest Profit:")

print(final_data.head())

Number of records found: 431
Records with Sales > 500 and Quantity > 5, sorted by highest Profit:
           Ship Mode      Segment        Country         City         State  \
9039  Standard Class     Consumer  United States      Detroit      Michigan
7666  Standard Class  Home Office  United States   Providence  Rhode Island
1085  Standard Class     Consumer  United States      Yonkers      New York
4277  Standard Class    Corporate  United States     Lakewood    New Jersey
8990  Standard Class    Corporate  United States  Springfield      Missouri

      Postal Code   Region         Category Sub-Category    Sales  Quantity  \
9039        48205  Central  Office Supplies      Binders  9892.74        13
7666         2908     East       Technology      Copiers  5399.91         9
1085        10701     East       Technology     Machines  4899.93         7
4277         8701     East       Technology     Machines  9099.93         7
8990        65807  Central       Technology      Copiers  4899.93         7

      Discount     Profit
9039       0.0  4946.3700
7666       0.0  2591.9568
1085       0.0  2400.9657
4277       0.0  2365.9818
8990       0.0  2302.9671

### 2- Find records if Discount is more than 0.5 (50%) or Profit is negative.

In [11]:
high_discount_or_negative_profit = data_frame[
    (data_frame['Discount'] > 0.5) | (data_frame['Profit'] < 0)
].copy()

final_filtered_data = high_discount_or_negative_profit.sort_values(
    by=['Discount', 'Profit'], 
    ascending=[False, True]
)

output_csv_name = 'high_discount_or_negative_profit_records.csv'
final_filtered_data.to_csv(output_csv_name, index=False)

print("Records with Discount > 0.5 OR Profit < 0:")
print(final_filtered_data.head())
print(f"\nNumber of records found: {len(final_filtered_data)}")

Records with Discount > 0.5 OR Profit < 0:
           Ship Mode    Segment        Country         City     State  \
9774  Standard Class   Consumer  United States  San Antonio     Texas
4991  Standard Class  Corporate  United States      Chicago  Illinois
5310     First Class   Consumer  United States      Houston     Texas
1199  Standard Class   Consumer  United States      Houston     Texas
3324  Standard Class   Consumer  United States      Houston     Texas

      Postal Code   Region         Category Sub-Category     Sales  Quantity  \
9774        78207  Central  Office Supplies      Binders  2177.584         8
4991        60653  Central  Office Supplies      Binders  1889.990         5
5310        77095  Central  Office Supplies      Binders  1525.188         6
1199        77041  Central  Office Supplies      Binders  1088.792         4
3324        77095  Central  Office Supplies      Binders   896.990         5

      Discount     Profit
9774       0.8 -3701.8928
4991       0.8 -2929.4845
5310       0.8 -2287.7820
1199       0.8 -1850.9464
3324       0.8 -1480.0335

Number of records found: 1871

### 3- Display Ship Mode and Profit columns if region is East using loc

In [13]:
import pandas as pd

data_frame = pd.read_csv('retail supermarket.csv')

east_region_ship_profit = data_frame.loc[
    data_frame['Region'] == 'East', 
    ['Ship Mode', 'Profit']
].copy()

print(east_region_ship_profit.head())
print(f"\nNumber of records found in the East Region: {len(east_region_ship_profit)}")

         Ship Mode     Profit
23    Second Class    -1.0196
27  Standard Class -1665.0522
28  Standard Class    -7.0532
29  Standard Class    15.5250
30  Standard Class     1.1016

Number of records found in the East Region: 2848

### 4- How many records belong to the "Corporate" segment and the "Central" region?

In [16]:
corporate_central_records = data_frame.query("Segment == 'Corporate' and Region == 'Central'")

record_count = len(corporate_central_records)

print(f"Number of records where Segment is 'Corporate' AND Region is 'Central': {record_count}")

Number of records where Segment is 'Corporate' AND Region is 'Central': 673

### 5- Find all orders in the "Furniture" category but not in "Chairs" sub-category.

In [17]:
furniture_not_chairs = data_frame[
    (data_frame['Category'] == 'Furniture') & 
    (data_frame['Sub-Category'] != 'Chairs')
].copy()

output_csv_name = 'furniture_not_chairs_orders.csv'
furniture_not_chairs.to_csv(output_csv_name, index=False)

print(f"Number of records found: {len(furniture_not_chairs)}")

Number of records found: 1504

### 6- Which orders have discount (>0.3) and still earned profit (>0)?

In [18]:
high_discount_and_profit = data_frame[
    (data_frame['Discount'] > 0.3) & 
    (data_frame['Profit'] > 0)
].copy()

final_profitable_discount_orders = high_discount_and_profit.sort_values(
    by=['Discount', 'Profit'], 
    ascending=[False, False]
)

output_csv_name = 'profitable_high_discount_orders.csv'
final_profitable_discount_orders.to_csv(output_csv_name, index=False)

print("Orders with Discount > 0.3 AND Profit > 0 (sorted by highest Discount and then highest Profit):")
print(final_profitable_discount_orders.head())

print(f"\nNumber of records found: {len(final_profitable_discount_orders)}")

Orders with Discount > 0.3 AND Profit > 0 (sorted by highest Discount and then highest Profit):
           Ship Mode   Segment        Country          City         State  \
6425  Standard Class  Consumer  United States  Philadelphia  Pennsylvania
8799     First Class  Consumer  United States  Philadelphia  Pennsylvania
1986     First Class  Consumer  United States      Columbus          Ohio
4812    Second Class  Consumer  United States  Philadelphia  Pennsylvania
8123  Standard Class  Consumer  United States  Philadelphia  Pennsylvania

      Postal Code Region    Category Sub-Category     Sales  Quantity  \
6425        19120   East  Technology      Copiers  8399.976         4
8799        19134   East  Technology      Copiers  1799.970         5
1986        43229   East  Technology      Copiers  1439.976         4
4812        19134   East  Technology      Copiers  1199.976         4
8123        19134   East  Technology      Copiers  1079.976         4

      Discount     Profit
6425       0.4  1119.9968
8799       0.4   239.9960
1986       0.4   191.9968
4812       0.4   179.9964
8123       0.4   125.9972

Number of records found: 26

### 7- Find high-profit orders where Quantity > 5 and Category == 'Technology'.

In [19]:
high_profit_tech_quantity = data_frame[
    (data_frame['Quantity'] > 5) & 
    (data_frame['Category'] == 'Technology') & 
    (data_frame['Profit'] > 0)
].copy()

final_high_profit_orders = high_profit_tech_quantity.sort_values(
    by='Profit', 
    ascending=False
)

output_csv_name = 'high_profit_tech_orders_gt_5_quantity.csv'
final_high_profit_orders.to_csv(output_csv_name, index=False)

print("High-Profit Technology Orders with Quantity > 5 (sorted by highest Profit):")
print(final_high_profit_orders.head())
print(f"\nNumber of records found: {len(final_high_profit_orders)}")

High-Profit Technology Orders with Quantity > 5 (sorted by highest Profit):
           Ship Mode      Segment        Country         City         State  \
7666  Standard Class  Home Office  United States   Providence  Rhode Island
1085  Standard Class     Consumer  United States      Yonkers      New York
4277  Standard Class    Corporate  United States     Lakewood    New Jersey
8990  Standard Class    Corporate  United States  Springfield      Missouri
1644     First Class    Corporate  United States      Seattle    Washington

      Postal Code   Region    Category Sub-Category    Sales  Quantity  \
7666         2908     East  Technology      Copiers  5399.91         9
1085        10701     East  Technology     Machines  4899.93         7
4277         8701     East  Technology     Machines  9099.93         7
8990        65807  Central  Technology      Copiers  4899.93         7
1644        98115     West  Technology      Copiers  3149.93         7

      Discount     Profit
7666       0.0  2591.9568
1085       0.0  2400.9657
4277       0.0  2365.9818
8990       0.0  2302.9671
1644       0.0  1480.4671

Number of records found: 277

### 8- Select rows 0–4 and columns 'Ship Mode', 'Segment', 'Sales' by position using iloc

In [20]:
iloc_selection = data_frame.iloc[0:5, [0, 1, 9]].copy()

print(iloc_selection)

        Ship Mode    Segment     Sales
0    Second Class   Consumer  261.9600
1    Second Class   Consumer  731.9400
2    Second Class  Corporate   14.6200
3  Standard Class   Consumer  957.5775
4  Standard Class   Consumer   22.3680

### 9- Show Home Office segment orders with Sales > 1000 and Quantity > 3.

In [21]:
home_office_high_sales_quantity = data_frame[
    (data_frame['Segment'] == 'Home Office') & 
    (data_frame['Sales'] > 1000) & 
    (data_frame['Quantity'] > 3)
].copy()

final_orders = home_office_high_sales_quantity.sort_values(
    by='Sales', 
    ascending=False
)

output_csv_name = 'home_office_high_sales_high_quantity_orders.csv'
final_orders.to_csv(output_csv_name, index=False)

print(f"Number of records found: {len(final_orders)}")

Number of records found: 73

### 10- Find orders where Profit Margin > 0.3

Profit Margin = (Profit/Sales)

In [25]:
final_orders = (
    data_frame.assign(
        # Calculate Margin safely, handling Sales = 0
        **{'Profit Margin': (data_frame['Profit'] / data_frame['Sales']).where(data_frame['Sales'] != 0, 0)}
    )
    .query('`Profit Margin` > 0.3')
    .sort_values(by='Profit Margin', ascending=False)
)

output_csv_name = 'high_profit_margin_orders.csv'
final_orders.to_csv(output_csv_name, index=False)

print("Orders with Profit Margin > 0.3 (Variables Restored):")
print(final_orders[['Ship Mode', 'Segment', 'Sales', 'Profit', 'Profit Margin']].head())
print(f"\nTotal records found: {len(final_orders)}")

Orders with Profit Margin > 0.3 (Variables Restored):
           Ship Mode      Segment   Sales  Profit  Profit Margin
5899  Standard Class    Corporate    9.78    4.89            0.5
5873        Same Day  Home Office  108.08   54.04            0.5
720   Standard Class  Home Office  146.82   73.41            0.5
8947  Standard Class    Corporate   12.30    6.15            0.5
764     Second Class    Corporate   50.94   25.47            0.5

Total records found: 4145